@model ChatAppWithDBExample.ChatApp.Model.ChatBoxModel


<div class="chat-box" id="DVChatBox-@Model.ToUser.UserId" style="border-radius:6px;height:250px">


    <div class="row" style="height:170px" id="chat-container">
        <div class="col-xs-12">
            <div class="chat-box-header" style="border-top-left-radius:6px;border-top-right-radius:6px;">
                <b>@Model.ToUser.FirstName</b>
                <b><i class="fa fa-times" aria-hidden="true" onclick="CloseChatBox(this)"></i></b>
                @Html.HiddenFor(m => m.ToUser.UserId, new { @id = "ToUserId" })
            </div>
        </div>
        <div class="col-xs-12" style="border-radius:6px;height:179px" id="messagesDiv">
            <div class="messages-list" style="height:179px" >
                @foreach (var message in Model.Messages)
                {
                <div class="dvmsg dvmsg-@message.Class" id="message" onmouseover="activeField(@message.ID,@message.FromUser,@Model.LoginUser)" onmouseout="inactiveField(@message.ID)">
                    <span class="msg" style="margin-left:-20px;width:150px">@message.Message</span>&nbsp;
                    <table>
                        <tr>
                            <td>
                                <span id="@("deleteFromOwn"+message.ID)" onclick="deleteMessage(@message.ID,@Model.LoginUser,@message.FromUser,@message.ToUser)" style="font-weight: bold;cursor: pointer;color:black" hidden> Remove</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span id="@("delete"+message.ID)" onclick="unsendMessage(@message.ID)" style="font-weight: bold;cursor: pointer;color:black" hidden> Unsend</span>
                            </td>
                        </tr>
                    </table>
                    @*<span id="@("deleteFromOwn"+message.ID)" onclick="deleteMessage(@message.ID)" style="font-weight: bold;cursor: pointer;color:black" hidden> Remove From You</span>
                    <span id="@("delete"+message.ID)" onclick="deleteMessage(@message.ID)" style="font-weight: bold;cursor: pointer;color:black" hidden> Unsend</span>*@

                </div>
                }
            </div>
        </div>
        <div class="col-xs-12 chat-box-input" style="padding:0px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;">
            <textarea class="form-control" style="width:249px;height:40px;padding-right:100px; margin-left:15px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;border-top-left-radius:0px;border-top-right-radius:0px;" onkeyup="sendMessage(this, event);"></textarea>
        </div>
    </div>
</div>




<script>

    function activeField(x,y,z) {
        if (y == z) {
            $('#deleteFromOwn' + x).show();
            $('#delete' + x).show();
        }
        else {
            $('#deleteFromOwn' + x).show();
            $('#delete' + x).hide();
        }
        
    }
    function inactiveField(x) {
        $('#deleteFromOwn' + x).hide();
        $('#delete' + x).hide();
    }
    function deleteMessage(messageId, userId, fromUser, toUser) {
         var loginUser = @int.Parse(User.Identity.Name);
        $.ajax({
            url: '/Home/DeleteMessageFromYou',
            type: 'POST',
            datatype: 'JSON',
            contentType: 'application/json;charset=utf-8;',
            data: JSON.stringify({ messageId: messageId, userId: userId, fromUser: fromUser, toUser:toUser}),
            success: function (data) {
                
                var a = data;
                updateDiv(a, loginUser);
            }
        })
    }

    function unsendMessage(messageId) {
        var loginUser = @int.Parse(User.Identity.Name);
        $.ajax({
            url: '/Home/DeleteMessage',
            type: 'POST',
            datatype: 'JSON',
            contentType: 'application/json;charset=utf-8;',
            data: JSON.stringify({ messageId: messageId }),
            success: function (data) {
                var a = data;
                updateDiv(a, loginUser);
            }
        })
    }

    function updateDiv(toUserId, loginUser) {
        $.ajax({
            url: '/Home/GetChatbox',
            type: 'POST',
            datatype: 'JSON',
            contentType: 'application/json;charset=utf-8;',
            data: JSON.stringify({ toUserId: toUserId, loginUser: loginUser }),
            async: true,
            success: function (res) {
                //console.log(res);
                $('.chat-container').find('#DVChatBox-' + toUserId).replaceWith(res);
            }
        });
    }

    $(function () {
        $('.messages-list').scroll(function () {
            let element = $(this);
            let toUserId = $(element).closest('.chat-box').find('#ToUserId').val();
            let skip = $('.messages-list .dvmsg').length;
            if ($(element).scrollTop() === 0) {
                $.ajax({
                    url: '/Home/LazyLoadMssages',
                    type: 'POST',
                    datatype: 'JSON',
                    contentType: 'application/json;charset=utf-8;',
                    data: JSON.stringify({ toUserId: toUserId, skip: skip }),
                    success: function (res) {

                        let prev_height = 0;
                        $('.messages-list .dvmsg').each(function () { prev_height += $(this).outerHeight(); });

                        for (var i = 0; i < res.length; i++) {
                            $(element).prepend('<div class="dvmsg dvmsg-' + res[i].Class + '"><span class="msg">' + res[i].Message + '</span></div>');
                        }

                        let whole_height = 0;
                        $('.messages-list .dvmsg').each(function () { whole_height += $(this).outerHeight(); });

                        $('.messages-list').scrollTop(whole_height - prev_height);
                    }
                })
            }
        });
    });

    function CloseChatBox(element) {
        $(element).closest('.chat-box').remove();
    }

    function sendMessage(element, e) {
        var loginUser = @int.Parse(User.Identity.Name);
        let message = $(element).val().trim();
        let toUserId = $(element).closest('.chat-box').find('#ToUserId').val();
        if (!message) { $(element).val(''); return; }
        if (e.which === 13) {
            $.ajax({
                url: '/Home/SendMessage',
                type: 'POST',
                datatype: 'JSON',
                contentType: 'application/json;charset=utf-8;',
                data: JSON.stringify({ toUserId: toUserId, message: message }),
                async: true,
                success: function (res) {
                    if (res === true) {
                        $(element).closest('#DVChatBox-' + toUserId).find('.messages-list').append('<div class="dvmsg dvmsg-from"><span class="msg">' + message + '</span></div>');
                        $(element).closest('#DVChatBox-' + toUserId).find('.messages-list').scrollTop(999999999999);
                        $(element).val('');

                    }
                    updateDiv(toUserId, loginUser);
                }
            });
        }
    }


</script>
